
/Dataset
/Webpage/SavedModels
Webpage/SavedModels/Decision_Tree_Regressor_model.pkl
Webpage/SavedModels/KNeighbors_Regressor_model.pkl
Webpage/SavedModels/Lasso_Regression_model.pkl
Webpage/SavedModels/Linear_Regression_model.pkl
Webpage/SavedModels/Neural_Network_Regressor_model.pkl
Webpage/SavedModels/Random_Forest_Regressor_model.pkl
Webpage/SavedModels/Ridge_Regression_model.pkl
Webpage/SavedModels/Support_Vector_Regressor_model.pkl
Webpage/SavedModels/XGBoost_Regressor_model.pkl
